@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFF9F6; /* (Ultra Soft Cream Light) */
  --panel-background: #fefcf9;
  --foreground: #2D2120;
  --muted: #7A6664;
  --border: #F3E2DC;

  --primary: #FF5E3A; /* (Vibrant Coral / Merah-Orange Utama) */
  --secondary: #FF9F43; /* (Warm Amber / Orange Cerah) */
  --tertiary: #FFD166; /* (Pastel Sun / Kuning Soft Accent) */

  --error-text: #FCA5A5;
  --error-bg: #1D1010;
  --error-border: #5A2828;
}

@theme inline {
  --color-background: var(--background);
  --color-panel-background: var(--panel-background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  
  --color-error-text: var(--error-text);
  --color-error-bg: var(--error-bg);
  --color-error-border: var(--error-border);


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #050a07;
}

::-webkit-scrollbar-thumb {
  background: #1d3325;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d6b42;
}
